<div class="content">
  <div class="header">
    <h1 class="page-title">
      Users
    </h1>
  </div>
  <ul class="breadcrumb">
    <li>
      <a href="index.html">
          Home
      </a>
      <span class="divider">
        /
      </span>
    </li>
    <li class="active">
      Rule
    </li>
  </ul>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="btn-toolbar">
          <button class="btn btn-primary" ng-click="addNewRule()">
          <i class="icon-plus">
          </i>
          New Rule
        </button> 
        <div class="btn-group">
        </div>
      </div>
      <div class="well">
        <table class="table">
          <thead>
            <tr>
              <th>
                # 
              </th>
              <th ng-repeat="item in items">
                {{item}}
              </th>
              
              <th style="width: 26px;">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rule in rules">
              <td >
                  {{$index + 1}}
              </td>
              <td ng-repeat="item in items">
                  {{rule[item]}}
              </td>
              
              <td>
                  <a href="/#/edit/{{name}}/{{rule.id}}" ng-click="reset($index)">
                  <i class="icon-pencil">
                  </i>
                </a>
                <a href="#myModal" role="button" data-toggle="modal">
                  <i class="icon-remove">
                  </i>
                </a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      
      <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
          </button>
          <h3 id="myModalLabel">
            Delete Confirmation
          </h3>
        </div>
        <div class="modal-body">
          <p class="error-text">
            <i class="icon-warning-sign modal-icon">
            </i>
            Are you sure you want to delete the user?
          </p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
            Cancel
          </button>
          <button class="btn btn-danger" data-dismiss="modal">
            Delete
          </button>
        </div>
      </div>
